<h2>Listing items</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>content</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>



